{% extends 'base.html' %}
{% block content %}
    <h1>{{ book.title }}</h1>
    <p>{{ book.author }}</p>
    <p>{{ book.price }}</p>
    <p>{{ book.description }}</p>
    <form method="post" action="{% url 'add_book_to_cart' book.pk %}">
        {% csrf_token %}
        <button type="submit">Dodaj do koszyka</button>
    </form>
    <a href="{% url 'cart' %}">Koszyk</a>

    <ul>
        {% for comment in book.comment_set.all %}
            <li>{{ comment.text }} -- <small>{{ comment.user }}</small>
            {% if comment.user == user %}
            <a href="{% url 'update_comment' comment.pk %}">U</a>
            {% endif %}

            </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'add_comment' book.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Dodaj komentarz</button>
        </form>
    {% endif %}
{% endblock %}